project:
  type: website
  output-dir: docs

website:
  title: "Economics"
  navbar:
    logo: pictures/ue_logo.svg
    logo-href: https://www.universidadeeuropeia.pt
    left:
      - href: index.qmd
        text: Home
      - href: Syllabus.qmd
        text: Syllabus


format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true



